services:
  api:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "4000:4000"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "3000:80"